project_id       = "verevoir"
region           = "europe-west2"
conference_name  = "verevoir-conference"
gcs_bucket_name  = "verevoir-conference-assets"
google_client_id = "xxx.apps.googleusercontent.com"
seed_admin_id    = "google-114823947"
docker_image     = "europe-west2-docker.pkg.dev/verevoir/verevoir-conference/app:latest"
